.cart_container {
  position: relative;
  width: 100%;
  /* border: 2px solid black; */
  padding-top: 70px;

  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.231); */
  display: flex;
  justify-content: center;
}
.empty_cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(59, 57, 57, 0.427);
  top: 16rem;
}
.cart_cont_child {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 30px;
}
.total_price {
  font-weight: bold;
  font-size: 24px;
}
.checkout_btn_container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
  padding-bottom: 70px;
}
.checkout_btn {
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border: none;
  background-color: #00a278;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.316);
  border-radius: 5px;
  cursor: pointer;
}
.checkout_btn:hover {
  background-color: #017959;
}
