/* .main_container {
} */
.hero {
  background-image: url("../assets/hero_image.png");
  height: 28rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container {
} */
.hero_heading {
  position: relative;
  font-size: 3rem;
  width: 50%;
  left: 20rem;
  color: white;
}
.hero_highlight {
  color: black;
  background-color: rgb(255, 191, 0);
  padding: 0.2rem;
  border-radius: 0.5rem;
}
.product_grid_container {
  background-color: #e9eeea9b;
  /* background-color: #f6fcdf; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.product_grid_container h2 {
  font-size: 32px;
  font-weight: 700;
  color: #00a278;
}
.product_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding-top: 1rem;
}
